
#all 
{
    width: 150px;
    height: 750px;
    transform: rotateZ(90deg) rotate(-55deg);
    perspective: 5000px;
    position: relative;
}
  .element:before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin-left: -10px;
    background: white;
    transform: rotateX(45deg);
  }
  .element:after {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin-left: 150px;
    background: white;
    transform: rotateX(45deg);
  }
  .element {
    border: 1px dashed white;
    opacity: 1;
    height: 1px;
    margin: 10px auto;
    transform: rotateY(0deg);
    animation: flip 2s infinite linear;
    transform-style: preserve-3d;
  }
  @keyframes flip {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(360deg);
    }
  }
  .element:nth-child(1) {
    animation-delay: 50ms;
  }
  .element:nth-child(2) {
    animation-delay: 100ms;
  }
  .element:nth-child(3) {
    animation-delay: 150ms;
  }
  .element:nth-child(4) {
    animation-delay: 200ms;
  }
  .element:nth-child(5) {
    animation-delay: 250ms;
  }
  .element:nth-child(6) {
    animation-delay: 300ms;
  }
  .element:nth-child(7) {
    animation-delay: 350ms;
  }
  .element:nth-child(8) {
    animation-delay: 400ms;
  }
  .element:nth-child(9) {
    animation-delay: 450ms;
  }
  .element:nth-child(10) {
    animation-delay: 500ms;
  }
  .element:nth-child(11) {
    animation-delay: 550ms;
  }
  .element:nth-child(12) {
    animation-delay: 600ms;
  }
  .element:nth-child(13) {
    animation-delay: 650ms;
  }
  .element:nth-child(14) {
    animation-delay: 700ms;
  }
  .element:nth-child(15) {
    animation-delay: 750ms;
  }
  .element:nth-child(16) {
    animation-delay: 800ms;
  }
  .element:nth-child(17) {
    animation-delay: 850ms;
  }
  .element:nth-child(18) {
    animation-delay: 900ms;
  }
  .element:nth-child(19) {
    animation-delay: 950ms;
  }
  .element:nth-child(20) {
    animation-delay: 1000ms;
  }
  .element:nth-child(21) {
    animation-delay: 1050ms;
  }
  .element:nth-child(22) {
    animation-delay: 1100ms;
  }
  .element:nth-child(23) {
    animation-delay: 1150ms;
  }
  .element:nth-child(24) {
    animation-delay: 1200ms;
  }
  .element:nth-child(25) {
    animation-delay: 1250ms;
  }
  .element:nth-child(26) {
    animation-delay: 1300ms;
  }
  .element:nth-child(27) {
    animation-delay: 1350ms;
  }
  .element:nth-child(28) {
    animation-delay: 1400ms;
  }
  .element:nth-child(29) {
    animation-delay: 1450ms;
  }
  .element:nth-child(30) {
    animation-delay: 1500ms;
  }
  .element:nth-child(31) {
    animation-delay: 1550ms;
  }
  .element:nth-child(32) {
    animation-delay: 1600ms;
  }
  .element:nth-child(33) {
    animation-delay: 1650ms;
  }
  .element:nth-child(34) {
    animation-delay: 1700ms;
  }
  .element:nth-child(35) {
    animation-delay: 1750ms;
  }
  .element:nth-child(36) {
    animation-delay: 1800ms;
  }
  .element:nth-child(37) {
    animation-delay: 1850ms;
  }
  .element:nth-child(38) {
    animation-delay: 1900ms;
  }
  .element:nth-child(39) {
    animation-delay: 1950ms;
  }
  .element:nth-child(40) {
    animation-delay: 2000ms;
  }
  .element:nth-child(41) {
    animation-delay: 2050ms;
  }
  .element:nth-child(42) {
    animation-delay: 2100ms;
  }
  .element:nth-child(43) {
    animation-delay: 2150ms;
  }
  .element:nth-child(44) {
    animation-delay: 2200ms;
  }
  .element:nth-child(45) {
    animation-delay: 2250ms;
  }
  .element:nth-child(46) {
    animation-delay: 2300ms;
  }
  .element:nth-child(47) {
    animation-delay: 2350ms;
  }
  .element:nth-child(48) {
    animation-delay: 2400ms;
  }
  .element:nth-child(49) {
    animation-delay: 2450ms;
  }
  .element:nth-child(50) {
    animation-delay: 2500ms;
  }
  .element:nth-child(51) {
    animation-delay: 2550ms;
  }
  .element:nth-child(52) {
    animation-delay: 2600ms;
  }
  .element:nth-child(53) {
    animation-delay: 2650ms;
  }
  .element:nth-child(54) {
    animation-delay: 2700ms;
  }
  .element:nth-child(55) {
    animation-delay: 2750ms;
  }
  .element:nth-child(56) {
    animation-delay: 2800ms;
  }
  .element:nth-child(57) {
    animation-delay: 2850ms;
  }
  