@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    font-family: 'Courgette', cursive;
    overflow-x: hidden;
}
/***
        --main-color: #2d88ff;
        --bg-color : #142754;
        --scrolled :background-color: rgba(45, 136, 255,.4);
        rgba(20, 39, 84,.9)
         --scrolled :rgba(3, 57, 95,.9);
***/
:root
{
    --main-color: #2d88ff;
    --bg-color : #142754;
    --overlay-color : rgba(0,0,0,.7);
    --scrolled :rgba(20, 39, 84,.9);
    
}
/* body
{
     padding: 20px;
}
*/
.container
{
    max-width: 1450px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
}

section
{
    min-height: 100vh;
    overflow-x: hidden;
}
::-webkit-scrollbar
{
    display: none;
}

/** Header **/
.header
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    background-color: transparent;
    z-index: 12;
    transition: .5s all ease-in-out ;
}
.header .container
{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header.scrolled
{
    background-color:var(--scrolled);
}
.header .logo
{
    width: 90px;
    height: 90px;
    display: flex;
    position: relative;
    top: 10px;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius:20% ;
    border-bottom-right-radius:20% ;
    transition: .8s all ease-in-out ;
}
.header.scrolled .logo
{
    background-color:var(--scrolled);
}
.header .logo img
{
    object-fit: fill;
    width: 100%;
}
.header .bars
{
    color: var(--main-color);
    font-size: 25px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bars.closed i::before
{
    content: "\f00d";
    font-family: "Font Awesome 5 Free"; 
    color: var(--main-color);
}
.nav
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color:var(--bg-color);
    transition: all .7s ease-out;
    clip-path: circle(0px at calc(100% + 65px) -65px);
    visibility: hidden; 
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    flex-direction: column;
    overflow-x: hidden;
}
.nav.active
{
    visibility: visible;
    clip-path: circle(100%);
    transition: all .7s ease-in;
}
.nav li
{
    list-style: none;
    color: #fff;
    margin: 20px 0;
} 
.nav li::before,
.nav li::after
{
    content: attr(data-text);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    color: #fff;
    font-weight: 700;
    font-size: 40vh;
    letter-spacing: 10rem;
    transition: .5s;
    opacity: 0;
    pointer-events: none;
    z-index: 4;
}
.nav li::after
{
    content:"";
    width: 40vh;
    height: 40vh;
    z-index: 3;
    top: 0;
    transition: .8s;
}
.nav li:first-of-type::after
{
    background: url(./../images/1.jpg) center center/cover no-repeat ;
}
.nav li:nth-of-type(2)::after
{
    background: url(./../images/research-5297028_1920.jpg) center center/cover no-repeat ;
}
.nav li:nth-of-type(3)::after
{
    background: url(./../images/8.jpg) center center/cover no-repeat ;
}

.nav li:hover::before
{
    opacity: .3;
    letter-spacing: 0rem;
}
.nav li:hover::after
{
    opacity:.2;
    top: 50%;
}
.nav li a
{
    font-size: 2rem;
    position: relative;
    display: inline-block;
    padding: .375rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .125rem;
    overflow: hidden;
    z-index: 5;
    transition: all ease .5s;   
}
.nav:hover li a
{
    opacity: .3;
} 
.nav li a:hover
{
    color: var(--main-color);
    opacity: 1;
    z-index: 100;
    transform: scale(1.5);
}
@media(max-width: 1024px)
{
    .nav li::before
    {
        font-size: 30vw;
    }
}
/****************** Section 1 **************/
.home
{
    padding-top: 100px;
}
.home .container
{
    min-height:100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text,
.dna
{
    width: 48%;
    padding: 5px;
    overflow: hidden;
    color: #fff;
    padding: 20px;
    position: relative;
}
.text h2
{
    font-size: 35px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    transform: translateX(-100%);
    transition: 1s transform ease-in-out;
    transition-delay: .5s;
}
.text p
{
    line-height: 1.7;
    font-size: 19px;
    transform: translateX(-105%);
    transition: 1s transform ease-in-out;
    transition-delay: 1.5s;
}
.text .buttons
{
    padding: 10px;
    position: relative;
    right: 10px;
    height: 70px;
   transition: 1s transform ease-in-out;
   transform: translateX(-100%);
   transition-delay: 2s;
   margin-top: 20px;
}
.buttons a
{
    display: inline-block;
    background-color: transparent;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    background-color: transparent;
    padding: 15px 25px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
    text-align: center;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    font-weight: bold;
    font-size: 17px;
    margin-right: 20px;
    text-decoration: none;
}
.text .buttons a span
{
    position: relative;
    z-index: 2;
    transition:  color .7s ease-in-out;
    font-weight: bold;
}
.text .buttons a div
{
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%,-50%);
    width: 400%;
    height: 400%;
    clip-path: circle(0% at 50% 50%);
    border-radius: 50%;
    z-index: 1;
    background-color: var(--main-color);
    transition:  clip-path .7s ease-in-out;
} 
.text .buttons a:hover span
{
    color: #fff;
}
.text .buttons a:hover div
{
    clip-path: circle(100% at 50% 50%);
}

.text.open h2,
.text.open p,
.text.open .overlay,
.text.open .buttons
{
    transform: translateX(0);
}
/*** Gifs  ***/
.dna
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:20px;
    transform: translateY(-30px);
    opacity: 0;
    transition: 2s opacity ease-in-out;
    transition-delay: 2s;
}
.dna.open
{
    opacity: 1;
}
section > .overlay
{
    background-color: var(--overlay-color);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
/*****************************/
.second .container
{
    padding: 50px 10px;
}
.tabs-container
{
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tabs
{
    font-size:15px;
    padding:0px;
    background:var(--bg-color);
    box-shadow:0px 0px 5px rgba(0,0,0,0.2);
    border-radius:50px;
    position:relative;
    display: flex;
}
.tabs li
{
    list-style:none;
    color: #777;
    text-transform:capitalize;
    padding:10px 20px;
    position:relative;
    z-index:1;
    transition-duration: .3s;
    transition: .3s all ease-in-out;
    cursor: pointer;
    user-select: none;
}
.tabs li.active
{
    color:#fff;
}
.tabs li i{
    margin-right:7px;
  }

.tabs .selector
{
    height:100%;
    display:inline-block;
    position:absolute;
    left:0px;
    top:0px;
    z-index:1;
    border-radius:50px;
    transition-duration:0.3s;
    transition: .5s all ease-in-out;
    background: linear-gradient(to right, var(--main-color), var(--bg-color)); 
}
/***********************************/
.cards
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cards .card
{
    width: 180px;
    min-height: 200px;
    background-color: #fff;
    border-radius: 4px;
    padding: 5px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin-bottom: 20px;
}
.card.hidden
{
    display: none;
}
.card.show
{
    display: flex;
    animation: pulse .5s ease-in-out;
    transition: .5s transform ease-in-out;
}
@keyframes pulse
{
    0%
    {
        transform: scale(.5);
        opacity: 0;
    }
    100%
    {
        transform: scale(1);
        opacity: 1;
    }
}
.cards .card img
{
    position: relative;
    width: calc(100% - 10px);
    height: calc(100% - 20px);
    object-fit: cover;
    transition: .5s filter ease-in-out;
   /*  filter: grayscale(1); */
}
.cards .card .bottom
{
    height: 50px;
    background-color: #fff;
    justify-self: flex-start;
    width: 110%;
    z-index: 1;    
}
.card .title
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
    z-index: 2;
    color: var(--main-color);
    font-size: 19px;
    font-weight: bold;
    font-style: italic;
    transition-delay: .5s;
    text-transform: capitalize;
}


.card .circle
{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    background-color:#fff;
    transition: clip-path .7s ease-out;
    clip-path: circle(25% at 50% 85%);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--bg-color);
    padding: 5px;
}
.card .circle .text
{
    color: var(--main-color);
    font-size: 19px;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    word-break: break-word;
}
.card .circle button
{
    outline: none;
    border: none;
    background-color:var(--main-color);
    border-radius: 5px;
    padding: 7px 12px;
    color: #fff;
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
}
.card .circle *
{
    opacity: 0;
}
.card:hover .circle *
{
    transition: .5s opacity ease-in-out;
    transition-delay: 1s;
    opacity: 1;
}
.cards .card:hover img
{
    filter: none;
}
.card:hover .circle
{
    visibility: visible;
    clip-path: circle(100%);
    transition-delay: 1s;
}
.card:hover .title
{
    visibility: hidden;
    transition-delay: 1s;
}
/***** Third ****/
.third .container
{
    padding: 50px 10px;
}
.third h3
{
    margin: 50px auto;
    color: #fff;
    text-align: center;
    font-size: 30px;
}
/************ Slider ******/
.blog-slider {
    width: 95%;
    position: relative;
    max-width: 800px;
    margin: auto;
    background: #fff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 25px;
    border-radius: 25px;
    height: 400px;
    transition: all 0.3s;
}
@media screen and (max-width: 992px) {
    .blog-slider {
        max-width: 680px;
        height: 400px;
   }
}
@media screen and (max-width: 768px) {
    .blog-slider {
        min-height: 500px;
        height: auto;
        margin: 180px auto;
   }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
    .blog-slider {
        height: 350px;
   }
}
.blog-slider__item {
    display: flex;
    align-items: center;
}
@media screen and (max-width: 768px) {
    .blog-slider__item {
        flex-direction: column;
   }
}
.blog-slider__item.swiper-slide-active .blog-slider__img img {
    opacity: 1;
    transition-delay: 0.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > * {
    opacity: 1;
    transform: none;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(1) {
    transition-delay: 0.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(2) {
    transition-delay: 0.4s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(3) {
    transition-delay: 0.5s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(4) {
    transition-delay: 0.6s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(5) {
    transition-delay: 0.7s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(6) {
    transition-delay: 0.8s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(7) {
    transition-delay: 0.9s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(8) {
    transition-delay: 1s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(9) {
    transition-delay: 1.1s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(10) {
    transition-delay: 1.2s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(11) {
    transition-delay: 1.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(12) {
    transition-delay: 1.4s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(13) {
    transition-delay: 1.5s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(14) {
    transition-delay: 1.6s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(15) {
    transition-delay: 1.7s;
}
.blog-slider__img {
    width: 300px;
    flex-shrink: 0;
    height: 300px;
    background-image: linear-gradient(147deg, #2d88ff 0%, #142754 74%);
    border-radius: 20px;
    transform: translateX(-80px);
    overflow: hidden;
}
.blog-slider__img:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:linear-gradient(to right, #000046, #1cb5e0); 

    border-radius: 20px;
    opacity: 0.8;
}
.blog-slider__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    opacity: 0;
    border-radius: 20px;
    transition: all 0.3s;
}
@media screen and (max-width: 768px) {
    .blog-slider__img {
        transform: translateY(-50%);
        width: 90%;
   }
}
@media screen and (max-width: 576px) {
    .blog-slider__img {
        width: 95%;
   }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
    .blog-slider__img {
        height: 270px;
   }
}
.blog-slider__content {
    padding-right: 25px;
}
@media screen and (max-width: 768px) {
    .blog-slider__content {
        margin-top: -80px;
        text-align: center;
        padding: 0 30px;
   }
}
@media screen and (max-width: 576px) {
    .blog-slider__content {
        padding: 0;
   }
}
.blog-slider__content > * {
    opacity: 0;
    transform: translateY(25px);
    transition: all 0.4s;
}
.blog-slider__title {
    font-size: 24px;
    font-weight: 700;
    color: #0d0925;
    margin-bottom: 20px;
}
.blog-slider__text {
    color: #4e4a67;
    margin-bottom: 30px;
    line-height: 1.5em;
}
.blog-slider__button {
    display: inline-flex;
    background-image:linear-gradient(to right, #000046, #1cb5e0); 
    padding: 15px 35px;
    border-radius: 50px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    justify-content: center;
    text-align: center;
    letter-spacing: 1px;
}
@media screen and (max-width: 576px) {
    .blog-slider__button {
        width: 100%;
   }
}
.blog-slider .swiper-container-horizontal > .swiper-pagination-bullets, .blog-slider .swiper-pagination-custom, .blog-slider .swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%;
}
.blog-slider__pagination {
    position: absolute;
    z-index: 21;
    right: 20px;
    width: 11px !important;
    text-align: center;
    left: auto !important;
    top: 50%;
    bottom: auto !important;
    transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
    .blog-slider__pagination {
        transform: translateX(-50%);
        left: 50% !important;
        top: 205px;
        width: 100% !important;
        display: flex;
        justify-content: center;
        align-items: center;
   }
}
.blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 8px 0;
}
@media screen and (max-width: 768px) {
    .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 5px;
   }
}
.blog-slider__pagination .swiper-pagination-bullet {
    width: 11px;
    height: 11px;
    display: block;
    border-radius: 10px;
    background: #062744;
    opacity: 0.2;
    transition: all 0.3s;
}
.blog-slider__pagination .swiper-pagination-bullet-active {
    opacity: 1;
    background:#142754 ; 
    height: 30px;
    box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);
}
@media screen and (max-width: 768px) {
    .blog-slider__pagination .swiper-pagination-bullet-active {
        height: 11px;
        width: 30px;
   }
}
/***** Socila Icons *****/
.social 
{
    margin: 100px 0 50px;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

.social li
{
    margin: 0 auto;
}

.social li a 
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background: #fff;
    text-align: center;
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0,0);
    transition: all 0.5s;
    box-shadow: -20px 20px 10px rgba(0,0,0,0.5);
    text-decoration: none;
}

.social li a i.fab
{
font-size: 40px;
color: var(--bg-color);
line-height: 80px;
transition: all 0.5s;
}

.social li a::before 
{
    content: "";
    position: absolute;
    top: 10px;
    left: -20px;
    height: 100%;
    width: 20px;
    background: #b2b2b2;
    transition: all 0.5s;
    transform: rotate(0deg) skewY(-45deg);
}

.social li a::after
{
    content: "";
    position: absolute;
    bottom: -20px;
    left: -10px;
    height: 20px;
    width: 100%;
    background: #e5e5e5;
    transition: all 0.5s;
    transform: rotate(0deg) skewX(-45deg);
}

.social li:hover a {
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
    box-shadow: -50px 50px 50px rgba(0,0,0,0.5);
}

.social li:hover i.fab
{
    color: #fff;
}

.social li#facebook_icon:hover a 
{
    background-color: #3b5999;
}

.social li#facebook_icon:hover a::before {
    background-color: #2f477a;
}

.social li#facebook_icon:hover a::after {
    background-color: #4e69a3;
}

.social li#twitter_icon:hover a {
    background-color: #55acee;
}

.social li#twitter_icon:hover a::before {
    background-color: #4489be;
}

.social li#twitter_icon:hover a::after {
    background-color: #66b4ef;
}

.social li#g_plus_icon:hover a {
    background-color: #dd4b39;
}

.social li#g_plus_icon:hover a::before {
    background-color: #b03c2d;
}

.social li#g_plus_icon:hover a::after {
    background-color: #e05d4c;
}

.social li#linkedin_icon:hover a {
    background-color: #0077b5;
}

.social li#linkedin_icon:hover a::before {
    background-color: #005f90;
}

.social li#linkedin_icon:hover a::after {
    background-color: #1984bc;
}

.social li#instagram_icon:hover a {
    background-color: #e4405f;
}

.social li#instagram_icon:hover a::before {
    background-color: #b6334c;
}

.social li#instagram_icon:hover a::after {
    background-color: #e6536f;
}
/***** Responsive ****/
@media(max-width: 1024px)
{
    .social li a
    {
        width: 60px;
        height: 60px;
    }
    .social li a i.fab
    {
        font-size: 30px;
    }
    .dna
    {
        position: absolute;
        width: 100%;    
        overflow: hidden;
    }
    #all
    {
        transform: rotateZ(
            144deg
            ) rotate(
            -55deg
            );
    }
    .text
    {
        width: 100%;
        padding: 5px;
        overflow: hidden;
        color: #fff;
        padding: 20px;
        position: relative;
        background-color: var(--overlay-color);
        z-index: 4;
    }
}
@media(max-width: 600px)
{
    .social li a
    {
        width: 40px;
        height: 40px;
    }
    .social li a i.fab
    {
        font-size: 20px;
    }
    .buttons a 
    {
        padding: 15px;
    }
    .tabs li
    {
        padding: 10px ;
    }
    .cards
    {
        justify-content: center;
    }
    .cards .card
    {
        margin: 0 auto;
        margin-bottom: 20px;
    }
}
@media(max-width: 400px)
{
    .social li a
    {
        width: 35px;
        height: 35px;
    }
    .social li a i.fab
    {
        font-size: 18px;
    }
}
/**** popUp ****/
.popup,
.preloader
{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    background-color:var(--overlay-color);
    
    transform: translateX(-105%);
}
.preloader
{
   height: 100vh;
    z-index: 13;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(0);
}
.preloader.hidden
{
    opacity: 0;
    transition: 1s all ease-in-out;
    visibility: hidden;
    pointer-events: none;
}
.popup .container
{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.popup.active
{
    transform: translateX(0);
    transition: transform 1s ease-in-out;
}
.popup .form
{
    background-color: #fff;
    padding: 50px 20px;
    min-height: 300px;
    width: 270px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0) rotate(360deg);

}
.popup .form.active
{
    transform: none;
    transition: transform .7s ease-in-out;
    transition-delay: 1s;
}
.popup form
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.popup form p
{
    margin-bottom: 20px;
    color: var(--bg-color);
    font-weight: bold;
    font-size: 19px;
    text-align: center;
}
.popup form input[type="file"]
{
    display: none;
}
.popup form label
{
    background-color: var(--bg-color);
    color: #fff;
    padding: 10px 20px;
    border-radius: 3px;  
    font-size: 17px;  
    cursor: pointer;
    transition: .5s ease-in-out;
}
.popup form label i
{
    margin-left: 10px;
}
.popup .form button
{
    margin-top: 40px;
    margin-left: auto;
    outline: none;
    border : none;
    background-color: var(--main-color);
    color: #fff;
    padding: 7px 10px;
    font-size: 18px;
    font-family: 'Courgette', cursive;
    border-radius: 3px;
    cursor: pointer;
}
.file-Name
{
    margin: 10px 0;
}
.closepopup
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    font-size: 28px;
    color: var(--main-color);
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
}
/***** Preloader ****/

.canvas {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 500px;
}
.group {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}
@keyframes dot-elastic-x {
    0%, 100% {
        opacity: 0.5;
        transform: translateX(0) scale(0.75);
        animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
   }
    25% {
        opacity: 0.75;
        transform: translateX(600%) scale(1);
        animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
   }
    50% {
        opacity: 1;
        transform: translateX(0) scale(1.5);
        animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
   }
    75% {
        opacity: 0.75;
        transform: translateX(-600%) scale(1);
        animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
   }
}
.dot {
    width: 6px;
    height: 6px;
    animation-name: dot-elastic-x;
    animation-duration: 1.25s;
    animation-iteration-count: infinite;
}
.dot::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.group--one .dot {
    animation-direction: normal;
}
.group--two .dot {
    animation-direction: reverse;
}
.dot:nth-child(1) {
    animation-delay: 0.1s;
}
.dot:nth-child(2) {
    animation-delay: 0.2s;
}
.dot:nth-child(3) {
    animation-delay: 0.3s;
}
.dot:nth-child(4) {
    animation-delay: 0.4s;
}
.dot:nth-child(5) {
    animation-delay: 0.5s;
}
.dot:nth-child(6) {
    animation-delay: 0.6s;
}
.dot:nth-child(7) {
    animation-delay: 0.7s;
}
.dot:nth-child(8) {
    animation-delay: 0.8s;
}
.dot:nth-child(9) {
    animation-delay: 0.9s;
}
.dot:nth-child(10) {
    animation-delay: 1s;
}
.dot:nth-child(11) {
    animation-delay: 1.1s;
}
.dot:nth-child(12) {
    animation-delay: 1.2s;
}
.dot:nth-child(13) {
    animation-delay: 1.3s;
}
.dot:nth-child(14) {
    animation-delay: 1.4s;
}
.dot:nth-child(15) {
    animation-delay: 1.5s;
}
.dot:nth-child(16) {
    animation-delay: 1.6s;
}
.dot:nth-child(17) {
    animation-delay: 1.7s;
}
.dot:nth-child(18) {
    animation-delay: 1.8s;
}
.dot:nth-child(19) {
    animation-delay: 1.9s;
}
.dot:nth-child(20) {
    animation-delay: 2s;
}
.dot:nth-child(21) {
    animation-delay: 2.1s;
}
.dot:nth-child(22) {
    animation-delay: 2.2s;
}
.dot:nth-child(23) {
    animation-delay: 2.3s;
}
.dot:nth-child(24) {
    animation-delay: 2.4s;
}
.dot:nth-child(25) {
    animation-delay: 2.5s;
}
.dot:nth-child(26) {
    animation-delay: 2.6s;
}
.dot:nth-child(27) {
    animation-delay: 2.7s;
}
.dot:nth-child(28) {
    animation-delay: 2.8s;
}
.dot:nth-child(29) {
    animation-delay: 2.9s;
}
.dot:nth-child(30) {
    animation-delay: 3s;
}
.dot:nth-child(31) {
    animation-delay: 3.1s;
}
.dot:nth-child(32) {
    animation-delay: 3.2s;
}
.dot:nth-child(33) {
    animation-delay: 3.3s;
}
.dot:nth-child(34) {
    animation-delay: 3.4s;
}
.dot:nth-child(35) {
    animation-delay: 3.5s;
}
.dot:nth-child(36) {
    animation-delay: 3.6s;
}
.dot:nth-child(37) {
    animation-delay: 3.7s;
}
.dot:nth-child(38) {
    animation-delay: 3.8s;
}
.dot:nth-child(39) {
    animation-delay: 3.9s;
}
.dot:nth-child(40) {
    animation-delay: 4s;
}
.dot:nth-child(41) {
    animation-delay: 4.1s;
}
.dot:nth-child(42) {
    animation-delay: 4.2s;
}
.dot:nth-child(43) {
    animation-delay: 4.3s;
}
.dot:nth-child(44) {
    animation-delay: 4.4s;
}
.dot:nth-child(45) {
    animation-delay: 4.5s;
}
.dot:nth-child(46) {
    animation-delay: 4.6s;
}
.dot:nth-child(47) {
    animation-delay: 4.7s;
}
.dot:nth-child(48) {
    animation-delay: 4.8s;
}
.dot:nth-child(49) {
    animation-delay: 4.9s;
}
.dot:nth-child(50) {
    animation-delay: 5s;
}
.dot:nth-child(51) {
    animation-delay: 5.1s;
}
.dot:nth-child(52) {
    animation-delay: 5.2s;
}
.dot:nth-child(53) {
    animation-delay: 5.3s;
}
.dot:nth-child(54) {
    animation-delay: 5.4s;
}
.dot:nth-child(55) {
    animation-delay: 5.5s;
}
.dot:nth-child(56) {
    animation-delay: 5.6s;
}
.dot:nth-child(57) {
    animation-delay: 5.7s;
}
.dot:nth-child(58) {
    animation-delay: 5.8s;
}
.dot:nth-child(59) {
    animation-delay: 5.9s;
}
.dot:nth-child(60) {
    animation-delay: 6s;
}
.dot:nth-child(61) {
    animation-delay: 6.1s;
}
.dot:nth-child(62) {
    animation-delay: 6.2s;
}
.dot:nth-child(63) {
    animation-delay: 6.3s;
}
.dot:nth-child(64) {
    animation-delay: 6.4s;
}
.dot:nth-child(65) {
    animation-delay: 6.5s;
}
.dot:nth-child(66) {
    animation-delay: 6.6s;
}
.dot:nth-child(67) {
    animation-delay: 6.7s;
}
.dot:nth-child(68) {
    animation-delay: 6.8s;
}
.dot:nth-child(69) {
    animation-delay: 6.9s;
}
.dot:nth-child(70) {
    animation-delay: 7s;
}
.dot:nth-child(71) {
    animation-delay: 7.1s;
}
.dot:nth-child(72) {
    animation-delay: 7.2s;
}
.dot--aqua::before {
    background-color: aqua;
}
.dot--gold::before {
    background-color: gold;
}
.dot--tomato::before {
    background-color: tomato;
}
